.mainView_header{
    position: absolute;
    left:0;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgba(14, 177, 210, .02);
}
h1[name="boxCityName"]{
    position: absolute;
    top:75px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #333333;
}
img[name="boxAnimation"]{
    margin-top: 40px;
}
.mainView_header > input{
    border: none;
    text-align: center;
    width: 30%;
    height: 30px;
}
#autocomplete{
    position: absolute;
    top:50px;
    width: 30%;
    height: 0;
    overflow-y: scroll;
    z-index: 20;
}
#autocomplete > button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: #ffffff; 
    border:none;
    cursor: pointer;
}
#autocomplete > button:focus{
    background-color:#3187d7;
}
.mainView_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    background-color: rgba(7, 20, 22, 0.6);
    background-size: cover;
    background-repeat: no-repeat;
}
.wheather{
    position: absolute;
    left:0;
    bottom: 0;
    height: 50vh;
}
.temperature{
    width: 100vw;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.temperature > h2{
    font-size: 4em;
    color:#ffffff;
    text-shadow: 1px 1px 1px #333333;
}
.wheatherInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.4)
}
.wheatherInfo > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 50%;
}
.wheatherInfo > div > p{
    margin-top: 10px;
    padding: 5px;
    font-size: 1.3em;
    color:#ffffff;
}
.humidity, .temperatureRange{
    border-right: 2px solid rgba(255, 255, 255, 0.897);
}
.sunCycle{
    width: 100%;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sunCycle > p{
    font-size: 1.15em;
    color:#ffffff;
}